{% extends 'base.html.twig' %}
{% block body %}

{# include menu #}
{% include "include/menu.html.twig" %}

 {# include header #}
 {% include "include/header.html.twig" %}

<div class="container">
<section class="news-box top-margin">
  <div class="container">
    <div class="row">
      <div class="section-heading">
        <h2>Current Projects</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="newsBox">
          <div class="thumbnail">
            <figure>
              <img alt="" src="assets/images/news2.jpg"></figure>
              <div class="caption maxheight2">
                <div class="box_inner">
                  <div class="box">
                    <p class="title">
                      <strong>CONCEPT</strong>
                    </p>
                    <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                  </div>
                  <div>
                    <a class="btn-inline" href="#">more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="newsBox">
            <div class="thumbnail">
              <figure>
                <img alt="" src="assets/images/news3.jpg"></figure>
                <div class="caption maxheight2">
                  <div class="box_inner">
                    <div class="box">
                      <p class="title">
                        <strong>DESIGN</strong>
                      </p>
                      <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                    </div>
                    <div>
                      <a class="btn-inline" href="#">more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="newsBox">
              <div class="thumbnail">
                <figure>
                  <img alt="" src="assets/images/news4.jpg"></figure>
                  <div class="caption maxheight2">
                    <div class="box_inner">
                      <div class="box">
                        <p class="title">
                          <strong>INSTALLATION</strong>
                        </p>
                        <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                      </div>
                      <div>
                        <a class="btn-inline" href="#">more</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="news-box top-margin">
        <div class="container">
          <div class="row">
            <div class="section-heading">
              <h2>Upcoming Projects</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="newsBox">
                <div class="thumbnail">
                  <figure>
                    <img alt="" src="assets/images/news6.jpg"></figure>
                    <div class="caption maxheight2">
                      <div class="box_inner">
                        <div class="box">
                          <p class="title">
                            <strong>CONCEPT</strong>
                          </p>
                          <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                        </div>
                        <div>
                          <a class="btn-inline" href="#">more</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="newsBox">
                  <div class="thumbnail">
                    <figure>
                      <img alt="" src="assets/images/news7.jpg"></figure>
                      <div class="caption maxheight2">
                        <div class="box_inner">
                          <div class="box">
                            <p class="title">
                              <strong>DESIGN</strong>
                            </p>
                            <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                          </div>
                          <div>
                            <a class="btn-inline" href="#">more</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="newsBox">
                    <div class="thumbnail">
                      <figure>
                        <img alt="" src="assets/images/news8.jpg"></figure>
                        <div class="caption maxheight2">
                          <div class="box_inner">
                            <div class="box">
                              <p class="title">
                                <strong>INSTALLATION</strong>
                              </p>
                              <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                            </div>
                            <div>
                              <a class="btn-inline" href="#">more</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          
</div>








{# include footer #}
{% include "include/footer.html.twig" %}

{% endblock %}