{% extends 'base.html.twig' %}
{% block body %}

{# include menu #}
{% include "include/menu.html.twig" %}

 {# include header #}
 {% include "include/header.html.twig" %}

<h1>wellcome to index page</h1>






{# include footer #}
{% include "include/footer.html.twig" %}

{% endblock %}