<!-- Header -->
	<header id="head">
		<div class="container">
            <div class="fluid_container">
                <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                    <div data-thumb="assets/images/slides/thumbs/img1.jpg" data-src="assets/images/slides/img1.jpg">
                    </div> 
                    <div data-thumb="assets/images/slides/thumbs/img2.jpg" data-src="assets/images/slides/img2.jpg">
                    </div>
                    <div data-thumb="assets/images/slides/thumbs/img3.jpg" data-src="assets/images/slides/img3.jpg">
                    </div> 
                </div><!-- #camera_wrap_3 -->
            </div><!-- .fluid_container -->
		</div>
	</header>
	<!-- /Header -->

  <div class="head-box" style="margin-top:-20px;">
    <div class="container">
		<div class="row">
            <div class="col-sm-12">
                <div class="search-panel">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="city" placeholder="City" autocomplete="off">
                        </div> 
                        <div class="form-group hidden-xs adv">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input class="form-control price" type="text" placeholder="From">
                            </div>
                        </div>
                        <div class="form-group hidden-xs adv">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input class="form-control price" type="text" placeholder="To">
                            </div>
                        </div>
                        <div class="form-group hidden-xs adv">
                            <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> For Rent</label></div>
                        </div>
                        <div class="form-group hidden-xs adv">
                            <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> For Sale</label></div>
                        </div>
                        <div class="form-group">
                            <a href="" class="btn btnsearch">Search</a> 
                        </div>
                    </form>
                </div>
            </div><!-- end .col-sm-12 -->
        </div><!-- ene .row -->
	</div><!--end .container -->
</div>
   
