<h3>Welcome to the app</h3>

<p>Hello {{user.firstname}} You've register into the app</p>
<p>Please confirm your account by clicking this  <a href="{{url('confirm', {'token':user.confirmationToken})}}">link</a></p>

<p>Thanks!</p>